<head>
	<title>Productos</title>
	<style>
	input{
		  border: 3px solid #ccc;
		  -webkit-transition: 0.5s;
		  transition: 0.5s;
		  outline: none;
		}

		input:focus {
		  border: 3px solid #555;
		}
		.boton_categoria {
			background-color: #04A6FF;
    		transition-duration: 0.4s;
			color: white;
			border-radius: 4px;
			font-size: 16px;
}

		.boton_categoria:hover {
		    background-color: #000099;
}
	</style>

</head>

<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Producto</h1>
        
        <table>
        	<caption></caption>
         	<tr>
        		<th id="Categorias de productos">Categorias</th>
        	</tr>
        	
        	<tr>
        		<!-- ko foreach : categorias -->
        		<td>
        			<button class="boton_categoria" 
        			data-bind="html : nombre, click : function() {$parent.getProductos_Categoria(id);} ">
        			</button>
        		</td>
        		<!-- /ko -->
        	</tr>
        	
        </table>
        
        <div>
            <input type="text" data-bind="value : nombre" placeholder="Nombre del producto">
            <input type="text" data-bind="value : precio" placeholder="Precio">
            <input type="text" data-bind="value : cantidad" placeholder="Cantidad">
           
            
            <select data-bind="options: categorias,
                   optionsText: function(item) {
                       return item.nombre;
                   }, value : categoria"></select>
            <button data-bind="click : add">Guardar producto</button>
            <button data-bind="click : update">Modificar producto</button>

            <div data-bind="html : message" style="color : blue"></div>
            <div data-bind="html : error" style="color : red"></div>
        </div>
	<div style="float:right;">
		<h2>Carrito</h2>
	        <table>
	        <caption></caption>
        	<tr>

        		<th id="hueco vacio 1"> </th><th id="hueco vacio 2"> </th><th id="Unidades carrito Producto">Unidades</th><th id="nombre del producto Carrito Producto">Producto</th>  	
        		
        	</tr>
        	<!-- ko foreach : carrito -->
        		<tr>
        			<td><button data-bind="click : function() {$parent.borrarDelCarrito(product.id);}" style="background-color:red">-</button></td>
        			<td><button data-bind="click : function() {$parent.addAlCarrito(product.id);}" style="background-color:green">+</button></td>
        			<td data-bind="html : amount"></td>
        			<td data-bind="html : name"></td>
        			
        			
        		</tr>
        	<!-- /ko -->
     
        </table>
	
	
	</div>
         
     <div style="float:left;">
		<h2>Productos</h2>

       <table>
       		<caption></caption>
        	<tr>
        		<th id ="nombre del producto">Producto</th>
        		<th id="precio del producto">Precio</th>
        		<th id="stock disponible">Stock</th>
				
     
        	</tr>
        	<!-- ko foreach : producto_categoria -->
        		<tr>
        			<td data-bind="html : nombre"></td>
        			<td data-bind="html : precio"></td>
        			<td data-bind="html : cantidad"></td>
        			<td>
        				<button data-bind="click : function() {$parent.eliminarProducto(id);}">Eliminar</button>
        			</td>
        			<td>
        				<button data-bind="click : function() { $parent.addAlCarrito(id); }">Anadir al carrito</button>
        			</td>
        		</tr>
        	<!-- /ko -->
        </table>
       </div>
      </div>
    </div>
  </div>
</div>